@mixin loadspinner {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 3px rgba(#444, 0.25) solid;
  border-top: 3px rgba(#444, 1) solid;
  border-radius: 50%;
  animation: spinning .6s infinite linear;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.hero {
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: #fff;
  // background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  .head {
    text-shadow: 0 0 3px rgba(#999, 0.25);
  }
  .head, .subhead {
    text-align: center;
  }
}

.talents {
  padding-bottom: 3rem;
  background-color: #f9f9f9;
  min-height: 100vh;
  .spinner {
    padding-top: 3rem;
    padding-bottom: 6rem;
    text-align: center;
    &:after {
      content: "";
      @include loadspinner;
    }
  }
  .search {
    margin-bottom: 3rem;
    position: relative;
    top: -12px;
    .form-control {
      min-width: 50%;
      border-width: 2px;
      @media (min-width: 768px) {
        max-width: 50%;
      }
    }
  }
}

.profile-list {
  column-gap: 2rem;
  .profile {
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 0.5rem;
    .thumb {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      background-position: center center;
      background-size: cover;
      margin-bottom: 30px;
      padding-bottom: 33.3333%;
      position: relative;
      img {
        position: absolute;
        left: 1.25rem;
        bottom: -40px;
        width: 80px;
        height: 80px;
        background-color: #ccc;
        border: 3px solid #fff;
        border-radius: 50%;
        overflow: hidden;
      }
    }
    .filter {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(#111, 0.35);
    }
    .list-label {
      color: #aaa;
      text-transform: uppercase;
      font-size: 0.65rem;
    }
    .socials {
      .link svg {
        font-size: 0.75rem;
        color: #bbb;
      }
    }
  }
}

.sponsors {
  text-align: center;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  // color: #fff;
  padding-top: 6rem;
  padding-bottom: 6rem;
  .head {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: normal;
    margin-bottom: 3rem;
  }
  img {
    max-height: 4rem;
  }
}

.bottom {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  .action, .lead {
    margin-bottom: 3rem;
  }
  .small {
    color: #bbb;
  }
}

.footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #f9f9f9;
  color: #bbb;
  a {
    color: #888;
  }
}

