.content
  .hero
    .container
      h1.display-3.head Malaysia Tech Talent List
      h2.display-4.subhead 🇲🇾👨‍💻🇲🇾👩‍💻🇲🇾
  = partial "partials/team"
  .bottom
    h2.display-4 Get featured!
    p.lead.text-muted Want to be among the industry recognized list? <a href="https://docs.google.com/forms/d/e/1FAIpQLSd8-NiGuNHiYi9-98PqbKhJdf6JqG5NFjAI66Wu9lZ9pmARCQ/viewform" target="_blank">Fill up this form</a>.
    p.m-0.text-muted Need to change details of your profile? Request edit access of this <a href="https://docs.google.com/spreadsheets/d/1OvL8b7De7RYgZIEIp4tVX0iHtdq_HkJsxcotbaN36TI/edit#gid=606643408" target="_blank">Google Form</a>.
  .footer
    .container-fluid
      p.text-muted.small.m-0 Made by Artsys 2018. Initiated by Aaron, Daniel & Arzumy.