.content
  .hero
    .container
      h1.display-3.head Malaysia Tech Talent List
      h2.display-4.subhead 🇲🇾👨‍💻🇲🇾👩‍💻🇲🇾
  = partial "partials/team"
  .sponsors
    .container
      h4.head Sponsors
      = link_to image_tag("amanz.png"), "https://amanz.my", target: "_blank"
  .bottom
    .container
      .row
        .col-sm-2.col-lg-3
        .col-sm-8.col-lg-6
          h2.display-4 Get featured!
          p.lead.text-muted Are you a Malaysian techie or contributing to Malaysian tech industry? Want to be among the recognized list?
          p.action = link_to "Fill up this form", "https://docs.google.com/forms/d/e/1FAIpQLSd8-NiGuNHiYi9-98PqbKhJdf6JqG5NFjAI66Wu9lZ9pmARCQ/viewform", target: "_blank", class: "btn btn-primary btn-lg"
          p.small.m-0 Set your profile thumbnail at <a href="https://en.gravatar.com/" target="_blank">Gravatar</a>. Need to change details of your profile? <br> Request edit access of this <a href="https://docs.google.com/spreadsheets/d/1OvL8b7De7RYgZIEIp4tVX0iHtdq_HkJsxcotbaN36TI/edit#gid=606643408" target="_blank">Google Form</a>.
  .footer
    .container-fluid
      p.text-muted.small.m-0 Made by Artsys 2018. Initiated by Aaron, Daniel & Arzumy. Site by <a href="http://wafiq.nocturnal.site" target="_blank">Wafiq</a>.